form {
  margin: 10px;
}
input {
  margin: 1px;
}

body,th,td {
  font-family: Arial;
  font-size: 13px;
}
#advancedSettings {
  width: 96.3%;
  height: 300px;
  padding: 10px;
}
fieldset {
  width: 600px;
  border: 1px solid rgb(187, 187, 187);
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  margin-bottom: 20px;
  /*padding-left: 20px;*/
}
fieldset legend {
  margin-left: 10px;
}
label {
  min-width: 150px;
  display: inline-block;
}
textarea {
  border: 1px solid rgb(144, 192, 255);
  -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
input[type="text"], input[type="number"] {
  border: 1px solid rgb(144, 192, 255);
  margin-right: 5px;
  -webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
input[type="text"].small, input[type="number"].small {
  width: 50px;
}
input[type="text"].large,input[type="number"].large {
  width: 250px;
}
legend {
  font-weight: bold;
  font-family: Arial;
}
select {
  margin-left: -4px;
}
textarea.gcode {
  width: 270px;
  height: 150px;
  margin-right: 20px;
}

.retractionSettings {
  display: none;
  margin-top: 5px;
}
form small {
	margin: 3px 0 0 0;
	display: block;
}
