/*
#drawAreaContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  width: 65%;
  min-width: 500px;
  max-width: 650px;
  height: 60%;
  min-height: 150px;
  max-height: 450px;
  border: 4px solid #000;
  border-radius: 15px;
  overflow: hidden;
  z-index: 15;
  display: none;
}

#canvasContainers {
  display:table;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#mycanvasContainer {
  display:table-cell;
  width: auto;
  height: 100%;
}
#mycanvas {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-right: 2px solid #333;
}

#previewContainer {
  display:table-cell;
  width: 150px;
  height: 100%;
}
#preview {
  width: 150px;
  height: 100%;
  float: right;
  margin: 0;
  padding: 0;
}
*/

/* DEBUG THING */
/*
#preview_tmp {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 500;
  border: 1px solid #f80;
  display: none;
}
*/

/*

  Buttons and logo's

*/
/*
.button {
  display: table;
}
*/

/*#d3dlogo {*/
	/*position: absolute;*/
	/*top:  15px;*/
	/*left: 31%;*/
  /*width: 399px;*/
  /*height: 139px;*/
  /*background-image: url('../img/logo_full.png');*/
  /*cursor: pointer;*/
/*}*/


