//  RIGHT PANEL
.rightpanel {
  position: absolute;
  width: 17%;
/*  background-color: rgba(255, 0, 254, 0.4);*/
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.btnPrint {
  margin: 1% 5% 5% 0%;
  width: 100%;
  max-width: 163px;
  height: auto;
  float: right;
}
.btnStop {
  margin: 5% 10% 1% 5%;
  float: right;
  width: 90%;
  max-width: 98px;
  height: auto;
}
.btnsSettingsInfo {
	position: absolute;
	bottom: 25px;
	right: 5px;
	width: 80%;
  margin: 1% 5%;
	max-width:  160px;
}
.btnInfo {
	width: 40%;
	max-width: 53px;
	height: auto;
}
.btnSettings {
	width: 40%;
	max-width: 53px;
	height: auto;
	float: right;
}


/*

  PRINT PROGRESS DISPLAY

*/
#printProgressContainer {
  position: absolute;
  right: 30px;
  top: 370px;
  width: 110px;
  margin: 5px 0px;
  font-weight: bold;
  display:none;
}
#progressbarContainer {
  margin: 3px 0px;
  width: inherit;
  height: 20px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 5px;
  -o-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}
.progressAmount {
  margin: 0px 5px;
}
#progressbar {
  position: relative;
/*margin-bottom: -20px;*/
  width: 0%;
  height: 100%;
  background-color: #4c4;
  border: 0px solid #f0f;
  border-radius: 3px;
  -o-border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

/*

  THERMOMETER

*/
#thermometerContainer {
  position: absolute;
  right: 25px;
  top: 370px;
}
#thermometerCanvas {
/*background: #59b2b8;*/
/*zoom: 2;*/
}