/*

  SETTINGS POPUP

*/
#contentOverlay {
  background-color: rgba(255, 255, 255, 0.65);
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display:none;

  #settings {
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    max-width: 835px;
    max-height: 540px;
    width: 80%;
    height: 75%;
    margin: 7% 8%;
    box-shadow: 0px 2px 6px 0px rgba(16, 16, 16, 0.65);
    border: 2px solid #222;
    border-radius: 15px;
    overflow: hidden;
    display: table;
    padding: 2%;

    .settingsLabelContainer {
      width: 100%;
      height: auto;
      margin-bottom: 1%;
    }
    .settingsLabelImg {
      width: 45%;
      max-width: 373px;
      height: auto;
    }

    > .content {
//      margin: 3% 12%;
//      margin-top: 12%;
//      max-height: 388px;
      display: table-row;
      width: 100%;

      > .settings {
        border: 1px solid rgb(187, 187, 187);
        border-radius: 5px;
        overflow: scroll;
        overflow-x: hidden;
      }
      > .btnContainer {
        width: 15%;
        position:relative;
        display: table-cell;

        > .btnOK {
          position: absolute;
          bottom: 3%;
          right: 3%;
          max-width: 85px;
          min-width: 42px;
          width: 91%;
          height: auto;
          margin: 0 2% 2% 0;
          cursor: pointer;
          float: right;
        }
      }
      > div {
        height: 100%;
      }
    }
  }
}