#verticalShapes {
  position:absolute;
  right: 0;
  bottom: 15px;
  margin-right: -8.5%;
  width: 8%;

  >div {
    border: 2px solid #333;
    border-radius: 0px 5px 5px 0px;
    margin-top: 4px;
    background-color: #fff;
    cursor: pointer;

    img.verticalshape {
      width: 100%;
      max-width: 50px;
      height: auto;
      vertical-align: bottom;
    }
  }
}